body 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: gray;
} 

.slider {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.middle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.navigation {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
}



